<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>Home</title>
</head>
<body class="m-0 p-0 bg-emerald-100 font-sans">
  <nav class="fixed top-0 w-full flex justify-between font-semibold shadow-lg bg-emerald-200 text-teal-700 z-10">
    <img src="./img/Tlogo.png" alt="SSLogo" class="m-3" style="width: 6%;">
    <div class="self-center mr-3">
      <a href="/" class="m-2 text-lg hover:text-teal-900 transition-colors duration-100">Home</a>
      <a href="/sale" class="m-2 text-lg hover:text-teal-900 transition-colors duration-100">Sale</a>
      <a href="/stock" class="m-2 text-lg hover:text-teal-900 transition-colors duration-100">Stock</a>
      <!-- <a href="/order" class="m-2 text-lg hover:text-teal-900 transition-colors duration-100">Order</a> -->
      <a href="/payments" class="m-2 text-lg hover:text-teal-900 transition-colors duration-100">Payments</a>
      <a href="/remaining" class="m-2 text-lg hover:text-teal-900 transition-colors duration-100">Remaining</a>
    </div>
  </nav>

  <div class="w-full h-screen flex justify-center items-center">
    <div class="text-center">
      <h1 class="text-9xl font-bold text-emerald-700">SS Pharma</h1>
      <p class="text-2xl font-semibold text-emerald-800">Medical Inventory Management System</p>
    </div>
  </div>

</body>
</html>